

[Unit]
Description=Oof
After=multi-user.target
StartLimitInterval=0

[Service]
ExecStart=/usr/bin/python3 /home/pi/controller.py
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=1
User=pi

[Install]
WantedBy=multi-user.target

